html, body, #app {

    height: 100%;

}

#container100 {

    min-height: 80%;
    height: 80%;
    min-width: 50%;
    width: 50%;

}

#infocontainer {
    min-height: 30%;
    height: 30%

}

.col-4 {

    /* height: 130px;
    width: auto; */

}

#resetappear {
    display: none;
}